body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  color: #333;
}
header {
  background-color: transparent;
  color: #fff;
  padding: 10px 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.profile {
  width: 135px;
  height: 135px;
  border-radius: 50%;
  margin-right: 40px;
}
header h1 {
  font-size: 2rem;
  color: black;
}
h2,
h3,
h4 {
  color: rgb(96, 125, 138);
}
h2,
h3 {
  border-bottom: 2px solid rgb(96, 125, 138);
  padding-bottom: 5px;
  font-weight: normal;
}
h4 {
  font-weight: normal;
}
p {
  margin-bottom: 1.2em; /* Increase spacing between paragraphs */
  line-height: 1.5; /* Increase line spacing within paragraphs */
}

.role {
  color: #000;
}
.responsive-math {
  display: block;
  overflow-x: auto; /* Allow horizontal scrolling if necessary */
  white-space: nowrap; /* Prevent wrapping of the math expression */
  text-align: left; /* Align left to maintain readability */
  font-size: 1rem; /* Set a responsive font size */
  margin: 1em 0;
  padding: 0.5em;
  box-sizing: border-box;
}

.responsive-table-container {
  display: block;
  overflow-x: auto; /* Allows horizontal scrolling if necessary */
  white-space: wrap; /* Prevent table cells from wrapping */
  margin: 1em 0; /* Adds margin around the table */
  box-sizing: border-box;
}

table {
  border-collapse: collapse;
  width: 98%;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  font-size: 1rem; /* Ensure text is readable at all screen sizes */
}

.responsive-code-container {
  display: block;
  overflow-x: auto; /* Allows horizontal scrolling if necessary */
  white-space: nowrap; /* Prevent wrapping of the code */
  margin: 1em 0; /* Adds margin around the code block */
  box-sizing: border-box;
}

/* For smaller devices, scale the font size
@media (max-width: 600px) {
   .responsive-math {
       font-size: 0.85rem;
   }
}
*/
.contact-info {
  display: flex;
  justify-content: center;
  align-items: left;
  gap: 15px;
  margin-top: 10px;
}
/*.contact-info {
   position: absolute; 
   top: 10px; 
   right: 60px; 
   display: flex;
   justify-content: flex-end;
   align-items: center;
   gap: 15px;
   margin-top: 0;
}*/
.contact-info a {
  display: flex;
  align-items: left;
  text-decoration: none;
  color: inherit;
}
.contact-info a .icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.main-container {
  max-width: 1500px;
  margin: 7px auto;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.left-column,
.right-column {
  flex: 1;
  min-width: 300px;
  padding: 0px;
}
.info-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1500px;
  margin: 0px auto;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.info-column {
  flex: 1;
  margin: 10px;
}

.link-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1500px;
  margin: 0px auto;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.link-column {
  flex: 1;
  margin: 7px;
  text-align: center;
}

.link-column a {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1.1em;
  font-weight: bold;
  text-decoration: none;
}
.link-container a i {
  margin-right: 10px; /* Adds space between the icon and text */
}

ul {
  padding: 0;
}
ol {
  padding: 0;
}
ul li {
  list-style-type: disc;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 15px;
}
ol {
  list-style-type: disc;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 15px;
}

.accordion.active .arrow {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}
.accordion {
  position: relative;
  font-size: 16px;
}
.arrow {
  display: inline-block;
  position: absolute;
  right: 0;
  font-size: 0.65em;
}
.projects-container {
  max-width: 1500px;
  margin: 7px auto;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.article-container {
  max-width: 1500px;
  margin: 7px auto;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.article-container h1,
.article-container h2,
.article-container h3,
.article-container h4,
.article-container p,
.article-container li,
.article-container table,
.article-container ul {
  margin-left: 20px;
  margin-right: 20px;
}

.project-columns {
  display: flex;
  flex-wrap: wrap;
}

.project-column {
  flex-basis: calc(25% - 5px);
  padding: 2px;
  box-sizing: border-box;
}
.project-column ul {
  list-style-type: none;
  margin: 0;
}
.project-column ul li {
  margin-bottom: 30px;
  display: flex;
  padding: 10px;
  flex-direction: column;
  align-items: left;
  text-align: left;
}
.project-column img {
  width: 100%;
  height: 200px;
  margin-bottom: 0px;
}
.project-column strong {
  font-size: 1.1em;
}
.project-column ul li a {
  display: block; /* Rende l'intero contenitore cliccabile */
  text-decoration: none; /* Rimuove la sottolineatura dal testo */
  color: inherit; /* Mantiene il colore del testo */
}
.project-column ul li:hover {
  background-color: #ccd4d8; /* Dark, elegant color (you can customize this further) */
  /*color: white;  Ensure text is white for contrast */
  transition: all 0.3s ease; /* Smooth transition for hover effects */
  z-index: 1; /* Ensures the hovered item stays above others */
  border-radius: 5px; /* Optional: Adds a smooth look */
}

@media screen and (max-width: 1300px) {
  .project-columns {
    justify-content: left; /* Centra le colonne quando lo schermo è stretto */
  }
  .project-column {
    flex-basis: calc(
      33% - 5px
    ); /* Imposta la larghezza delle colonne al 50% del contenitore con uno spazio tra le colonne */
  }
}
/* Media query per adattare il layout quando la larghezza dello schermo è inferiore a 1200px */
@media screen and (max-width: 1000px) {
  .project-columns {
    justify-content: left; /* Centra le colonne quando lo schermo è stretto */
  }

  .project-column {
    flex-basis: calc(
      50% - 20px
    ); /* Imposta la larghezza delle colonne al 50% del contenitore con uno spazio tra le colonne */
  }
  .info-column {
    flex-basis: calc(
      50% - 20px
    ); /* Imposta la larghezza delle colonne al 50% del contenitore con uno spazio tra le colonne */
  }
}
/* Media query per adattare ulteriormente il layout quando la larghezza dello schermo è inferiore a 600px */
@media screen and (max-width: 600px) {
  .project-column {
    flex-basis: calc(
      100% - 20px
    ); /* Imposta la larghezza delle colonne al 100% del contenitore con uno spazio tra le colonne */
  }
  .info-column {
    flex-basis: calc(
      100% - 20px
    ); /* Imposta la larghezza delle colonne al 100% del contenitore con uno spazio tra le colonne */
  }
  .link-column {
    flex-basis: calc(
      50% - 20px
    ); /* Imposta la larghezza delle colonne al 50% del contenitore con uno spazio tra le colonne */
  }
}
/* Dark Mode Styles */
body.dark-mode {
  background-color: #1e1e1e;
  color: white;
}
header.dark-mode {
  background-color: #1e1e1e;
}
header h1.dark-mode {
  color: #fff;
}
.dark-mode svg {
  fill: rgb(207, 216, 220);
}
.dark-mode svg:hover {
  fill: #ffffff;
}
svg:hover {
  fill: rgb(0, 0, 0);
}
svg {
  fill: rgb(96, 125, 138);
}
/* Update container styles */
.main-container.dark-mode {
  background-color: #29363d; /* Dark background */
  color: #fff; /* Light text */
}
.info-container.dark-mode {
  background-color: #29363d; /* Dark background */
  color: #fff; /* Light text */
}

.link-container.dark-mode {
  background-color: #29363d; /* Dark background */
  color: #fff; /* Light text */
}

.projects-container.dark-mode {
  background-color: #29363d; /* Dark background */
  color: #fff; /* Light text */
}
.portfolio-container.dark-mode {
  background-color: #29363d; /* Dark background */
  color: #fff; /* Light text */
}
.article-container.dark-mode {
  background-color: #29363d; /* Dark background */
  color: #fff; /* Light text */
}
.dark-mode h4 {
  color: rgb(207, 216, 220);
}
.dark-mode h1 {
  color: rgb(255, 255, 255);
}
.dark-mode h2,
.dark-mode h3 {
  color: rgb(207, 216, 220);
  border-bottom: 2px solid rgb(207, 216, 220);
}

.projects-container.dark-mode a:hover {
  color: #000000;
}
body a {
  color: rgb(96, 125, 138); /* Light blue for contrast in dark mode */
}
body a:hover {
  color: #000000; /* Light blue for contrast in dark mode */
}

body.dark-mode a {
  color: rgb(207, 216, 220);
}
body.dark-mode a:hover {
  color: #ffffff; /* Light blue for contrast in dark mode */
}

/* 
Other sections like accordions can also be styled 
.accordion.dark-mode {
  color: #fff;
}
*/
/* Toggle Switch Styles */
.switch {
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
}
.switch input {
  display: none;
}
.switch-label {
  background-color: #ccc;
  width: 40px;
  height: 20px;
  border-radius: 20px;
  display: inline-block;
  transition: background-color 0.3s ease;
  position: relative;
}
.switch-label:before {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #fff;
  transition: transform 0.3s ease;
}
/* Sun and Moon Icons */
.sun-icon,
.moon-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
  color: #fff;
  transition: opacity 0.3s ease;
}
.sun-icon {
  left: 5px;
  opacity: 0;
}
.moon-icon {
  right: 5px;
  opacity: 1;
}
/* When the toggle is checked (Dark mode) */
.switch input:checked + .switch-label {
  background-color: #333;
}
.switch input:checked + .switch-label:before {
  transform: translateX(20px);
}
.switch input:checked + .switch-label .sun-icon {
  opacity: 1;
}
.switch input:checked + .switch-label .moon-icon {
  opacity: 0;
}

.portfolio-container {
  max-width: 1500px;
  margin: 7px auto;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.portfolio-sections {
  display: flex;
  gap: 20px;
  margin-left: 0px;
}

.portfolio-sections h2 {
  margin-left: 10px;
  margin-right: 10px;
}

.section-column {
  flex: 0 0 calc(50% - 10px);
  display: flex;
  flex-direction: column;
}

.portfolio-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.portfolio-grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.portfolio-item,
.article-column {
  margin-bottom: 0px;
  display: flex;
  padding: 10px;
  flex-direction: column;
  align-items: left;
  text-align: left;

  margin-left: 15px;
}

.portfolio-item a:hover,
.article-column a:hover {
  background-color: #ccd4d8; /* Dark, elegant color (you can customize this further) */
  /*color: white;  Ensure text is white for contrast */
  transition: all 0.3s ease; /* Smooth transition for hover effects */
  z-index: 1; /* Ensures the hovered item stays above others */
  border-radius: 5px; /* Optional: Adds a smooth look */
}

.dark-mode .portfolio-item a:hover,
.dark-mode .article-column a:hover {
  background-color: #555; /* Darker background for dark mode */
  color: #fff; /* Ensure text is white for contrast */
}

.portfolio-item img,
.article-column img {
  width: 100%;
  height: 200px;
  margin-bottom: 0px;
}

.portfolio-item a,
.article-column a {
  text-decoration: none;
  color: inherit;
  padding: 5px;
}

.portfolio-item strong,
.article-column strong {
  display: block;
  margin: 10px 0;
}

.portfolio-item p,
.article-column p {
  margin: 10px 0 0;
  color: #666;
}

.view-all-container {
  display: flex;
  justify-content: center;
  margin-top: auto;
  padding-top: 30px;
}

.view-all-btn {
  padding: 10px 24px;
  color: rgb(96, 125, 138);
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  text-align: center;

  font-size: 1em;
  font-weight: bold;
}

.view-all-btn i {
  margin-left: 8px;
  font-size: 0.9em;
}

/* Responsive layout */
@media (max-width: 568px) {
  .portfolio-sections {
    flex-direction: column;
  }

  .section-column {
    flex: 0 0 100%;
  }
}

@media (max-width: 1300px) {
  .portfolio-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .portfolio-grid-4 {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1050px) {
  .portfolio-grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .portfolio-grid-4 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 568px) {
  .portfolio-grid {
    grid-template-columns: 1fr;
  }

  .portfolio-grid-4 {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* Dark mode styles */
.dark-mode .portfolio-item,
.dark-mode .article-column {
  color: #000000;
}

.dark-mode .section-column h3 {
  border-bottom-color: #fff;
}

.dark-mode .portfolio-item p,
.dark-mode .article-column p {
  color: #ccc;
}
